{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "destructuring": true,
      "spread": true,
      "restParams": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  }
}